/00_extras
/database/seeds/dados/const/*
/database/seeds/dados/*
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/atas/fcap/*
/storage/app/atas/poli/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
